{{!-- <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academia Corner</title>
  </head>

  <body>
    <nav>
      <h1>Academia Corner</h1>
      <li>dashboard</li>
      <li>login</li>
    </nav>

    <main style="margin: 3%;">
      {{{body}}}
    </main>

  </body>

</html> --}}
