* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-image: url("../assets/typewriter2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Applying styles to header */
.navbar-brand {
    color: black;
}

.navbar-item {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
}

.nav-link {
    color: black;
  }

.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 350px;
}