* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-image: url("../assets/typewriter.jpg");
    background-size: cover;
    background-position: center; */
    background: url(../assets/typewriter3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,
    serif;
  font-weight: bold;
}

/* Applying styles to header */
.navbar-brand {
    color: black;
}

.navbar-item {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
}

.nav-link {
    color: black;
  }

.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 350px;
}

.login-form {
    background-color: #ECECEE;
    opacity: 90%;
}