* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../assets/library.jpg");
    color: blanchedalmond;
}

/* Applying styles to header */
header {
    padding: 20px 35px;
    background-image: linear-gradient(black, blanchedalmond);
}

header button {
    padding: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    display: inline;
    background-color: blanchedalmond;
    border: 3px solid black;
    color:black;
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

/* Applying styles to body */
section {
    padding: 175px 300px;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 150px;
    background-color: black;
    text-align: center;
    font-size: 150%;
    border: 2px solid blanchedalmond;
}

.card-body {
    background-color: blanchedalmond;
    border: 3px solid black;
}